<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni0470</key>
    <string>uni0470.glif</string>
    <key>uni0405.simple</key>
    <string>uni0405.simple.glif</string>
    <key>uni047E</key>
    <string>uni047E_.glif</string>
    <key>uni0472</key>
    <string>uni0472.glif</string>
    <key>uni0405</key>
    <string>uni0405.glif</string>
    <key>uni0410</key>
    <string>uni0410.glif</string>
    <key>uni0411</key>
    <string>uni0411.glif</string>
    <key>uni0412</key>
    <string>uni0412.glif</string>
    <key>uni0410.simple</key>
    <string>uni0410.simple.glif</string>
    <key>uni0411.simple</key>
    <string>uni0411.simple.glif</string>
    <key>uni0412.simple</key>
    <string>uni0412.simple.glif</string>
    <key>uni0413</key>
    <string>uni0413.glif</string>
    <key>uni0413.simple</key>
    <string>uni0413.simple.glif</string>
    <key>uni0414</key>
    <string>uni0414.glif</string>
    <key>uni0415</key>
    <string>uni0415.glif</string>
    <key>uni0416</key>
    <string>uni0416.glif</string>
    <key>uni0417</key>
    <string>uni0417.glif</string>
    <key>uni0414.simple</key>
    <string>uni0414.simple.glif</string>
    <key>uni0415.simple</key>
    <string>uni0415.simple.glif</string>
    <key>uni0416.simple</key>
    <string>uni0416.simple.glif</string>
    <key>uni0417.simple</key>
    <string>uni0417.simple.glif</string>
    <key>uni0418</key>
    <string>uni0418.glif</string>
    <key>uni041B</key>
    <string>uni041B_.glif</string>
    <key>uni041C</key>
    <string>uni041C_.glif</string>
    <key>uni041D</key>
    <string>uni041D_.glif</string>
    <key>uni041E</key>
    <string>uni041E_.glif</string>
    <key>uni041F</key>
    <string>uni041F_.glif</string>
    <key>uni0421</key>
    <string>uni0421.glif</string>
    <key>uni0422</key>
    <string>uni0422.glif</string>
    <key>uni0423</key>
    <string>uni0423.glif</string>
    <key>uni0418.simple</key>
    <string>uni0418.simple.glif</string>
    <key>uni041A.simple</key>
    <string>uni041A_.simple.glif</string>
    <key>uni041B.simple</key>
    <string>uni041B_.simple.glif</string>
    <key>uni041C.simple</key>
    <string>uni041C_.simple.glif</string>
    <key>uni041D.simple</key>
    <string>uni041D_.simple.glif</string>
    <key>uni041E.simple</key>
    <string>uni041E_.simple.glif</string>
    <key>uni041F.simple</key>
    <string>uni041F_.simple.glif</string>
    <key>uni0420.simple</key>
    <string>uni0420.simple.glif</string>
    <key>uni0421.simple</key>
    <string>uni0421.simple.glif</string>
    <key>uni0422.simple</key>
    <string>uni0422.simple.glif</string>
    <key>uni0423.simple</key>
    <string>uni0423.simple.glif</string>
    <key>uni0424</key>
    <string>uni0424.glif</string>
    <key>uni0425</key>
    <string>uni0425.glif</string>
    <key>uni0428</key>
    <string>uni0428.glif</string>
    <key>uni0424.simple</key>
    <string>uni0424.simple.glif</string>
    <key>uni0425.simple</key>
    <string>uni0425.simple.glif</string>
    <key>uni0428.simple</key>
    <string>uni0428.simple.glif</string>
    <key>uni0426</key>
    <string>uni0426.glif</string>
    <key>uni042A</key>
    <string>uni042A_.glif</string>
    <key>uni042B</key>
    <string>uni042B_.glif</string>
    <key>uni0426.simple</key>
    <string>uni0426.simple.glif</string>
    <key>uni042A.simple</key>
    <string>uni042A_.simple.glif</string>
    <key>uni042B.simple</key>
    <string>uni042B_.simple.glif</string>
    <key>uni0462</key>
    <string>uni0462.glif</string>
    <key>uni0462.simple</key>
    <string>uni0462.simple.glif</string>
    <key>uni046E</key>
    <string>uni046E_.glif</string>
    <key>uni046E.simple</key>
    <string>uni046E_.simple.glif</string>
    <key>uni0460</key>
    <string>uni0460.glif</string>
    <key>uni0460.simple</key>
    <string>uni0460.simple.glif</string>
    <key>uni047C</key>
    <string>uni047C_.glif</string>
    <key>uni047E.simple</key>
    <string>uni047E_.simple.glif</string>
    <key>uni042C</key>
    <string>uni042C_.glif</string>
    <key>uni042C.simple</key>
    <string>uni042C_.simple.glif</string>
    <key>uni0419</key>
    <string>uni0419.glif</string>
    <key>uni0419.simple</key>
    <string>uni0419.simple.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>uni0427</key>
    <string>uni0427.glif</string>
    <key>uni0427.simple</key>
    <string>uni0427.simple.glif</string>
    <key>uni0472.simple</key>
    <string>uni0472.simple.glif</string>
    <key>uni0474</key>
    <string>uni0474.glif</string>
    <key>uni0466</key>
    <string>uni0466.glif</string>
    <key>uni0466.simple</key>
    <string>uni0466.simple.glif</string>
    <key>uni0474.simple</key>
    <string>uni0474.simple.glif</string>
    <key>uni042E</key>
    <string>uni042E_.glif</string>
    <key>uni042E.simple</key>
    <string>uni042E_.simple.glif</string>
    <key>uni202F</key>
    <string>uni202F_.glif</string>
    <key>uniA656</key>
    <string>uniA_656.glif</string>
    <key>uniA656.simple</key>
    <string>uniA_656.simple.glif</string>
    <key>uni047A</key>
    <string>uni047A_.glif</string>
    <key>uniA64C</key>
    <string>uniA_64C_.glif</string>
    <key>uni047A.simple</key>
    <string>uni047A_.simple.glif</string>
    <key>uni0429</key>
    <string>uni0429.glif</string>
    <key>uni0429.simple</key>
    <string>uni0429.simple.glif</string>
    <key>uni0470.simple</key>
    <string>uni0470.simple.glif</string>
    <key>uni0406.simple</key>
    <string>uni0406.simple.glif</string>
    <key>uni2014</key>
    <string>uni2014.glif</string>
    <key>uni2015</key>
    <string>uni2015.glif</string>
    <key>uni2012</key>
    <string>uni2012.glif</string>
    <key>uni2013</key>
    <string>uni2013.glif</string>
    <key>uni2011</key>
    <string>uni2011.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uniA67D</key>
    <string>uniA_67D_.glif</string>
    <key>uniA67F</key>
    <string>uniA_67F_.glif</string>
    <key>uni0407</key>
    <string>uni0407.glif</string>
    <key>uni0407.simple</key>
    <string>uni0407.simple.glif</string>
    <key>uni0406</key>
    <string>uni0406.glif</string>
    <key>uni0410.alt</key>
    <string>uni0410.alt.glif</string>
    <key>uni041A.alt1</key>
    <string>uni041A_.alt1.glif</string>
    <key>uni041A.alt2</key>
    <string>uni041A_.alt2.glif</string>
    <key>uni0420.alt1</key>
    <string>uni0420.alt1.glif</string>
    <key>uni0420.alt2</key>
    <string>uni0420.alt2.glif</string>
    <key>uniA656.alt</key>
    <string>uniA_656.alt.glif</string>
    <key>uni047E0301</key>
    <string>uni047E_0301.glif</string>
    <key>uni2DE2</key>
    <string>uni2D_E_2.glif</string>
    <key>uni2DE3</key>
    <string>uni2D_E_3.glif</string>
    <key>uni2DE4</key>
    <string>uni2D_E_4.glif</string>
    <key>uni2DE5</key>
    <string>uni2D_E_5.glif</string>
    <key>uni2DE8</key>
    <string>uni2D_E_8.glif</string>
    <key>uni2DED</key>
    <string>uni2D_E_D_.glif</string>
    <key>uni2DEE</key>
    <string>uni2D_E_E_.glif</string>
    <key>uni2DEF</key>
    <string>uni2D_E_F_.glif</string>
    <key>uni0300.simple</key>
    <string>uni0300.simple.glif</string>
    <key>uni0301.simple</key>
    <string>uni0301.simple.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni030F</key>
    <string>uni030F_.glif</string>
    <key>uni0311</key>
    <string>uni0311.glif</string>
    <key>uni0486</key>
    <string>uni0486.glif</string>
    <key>uni0483</key>
    <string>uni0483.glif</string>
    <key>uniA66F</key>
    <string>uniA_66F_.glif</string>
    <key>uni0300</key>
    <string>uni0300.glif</string>
    <key>uni0301</key>
    <string>uni0301.glif</string>
    <key>uni04860301</key>
    <string>uni04860301.glif</string>
    <key>uni04860300</key>
    <string>uni04860300.glif</string>
    <key>uni047C.simple</key>
    <string>uni047C_.simple.glif</string>
    <key>uniA64C.simple</key>
    <string>uniA_64C_.simple.glif</string>
    <key>uni0404</key>
    <string>uni0404.glif</string>
    <key>uni0404.simple</key>
    <string>uni0404.simple.glif</string>
    <key>uni0482</key>
    <string>uni0482.glif</string>
    <key>uniA675</key>
    <string>uniA_675.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>uni0476</key>
    <string>uni0476.glif</string>
    <key>uni0476.simple</key>
    <string>uni0476.simple.glif</string>
    <key>uni0478</key>
    <string>uni0478.glif</string>
    <key>uni0478.simple</key>
    <string>uni0478.simple.glif</string>
    <key>uni0487</key>
    <string>uni0487.glif</string>
    <key>uni2E2F</key>
    <string>uni2E_2F_.glif</string>
    <key>uniA67C</key>
    <string>uniA_67C_.glif</string>
    <key>uniA67E</key>
    <string>uniA_67E_.glif</string>
    <key>uni04860301.simple</key>
    <string>uni04860301.simple.glif</string>
    <key>uni04860300.simple</key>
    <string>uni04860300.simple.glif</string>
    <key>uniFE2EFE2F</key>
    <string>uniF_E_2E_F_E_2F_.glif</string>
    <key>uni0001</key>
    <string>uni0001.glif</string>
    <key>uni0002</key>
    <string>uni0002.glif</string>
    <key>uni0003</key>
    <string>uni0003.glif</string>
    <key>uni0004</key>
    <string>uni0004.glif</string>
    <key>uni0005</key>
    <string>uni0005.glif</string>
    <key>uni0006</key>
    <string>uni0006.glif</string>
    <key>uni0007</key>
    <string>uni0007.glif</string>
    <key>uni0008</key>
    <string>uni0008.glif</string>
    <key>uni0009</key>
    <string>uni0009.glif</string>
    <key>uni000A</key>
    <string>uni000A_.glif</string>
    <key>uni000B</key>
    <string>uni000B_.glif</string>
    <key>uni000C</key>
    <string>uni000C_.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>uni000E</key>
    <string>uni000E_.glif</string>
    <key>uni000F</key>
    <string>uni000F_.glif</string>
    <key>uni0010</key>
    <string>uni0010.glif</string>
    <key>uni0011</key>
    <string>uni0011.glif</string>
    <key>uni0012</key>
    <string>uni0012.glif</string>
    <key>uni0013</key>
    <string>uni0013.glif</string>
    <key>uni0014</key>
    <string>uni0014.glif</string>
    <key>uni0015</key>
    <string>uni0015.glif</string>
    <key>uni0016</key>
    <string>uni0016.glif</string>
    <key>uni0017</key>
    <string>uni0017.glif</string>
    <key>uni0018</key>
    <string>uni0018.glif</string>
    <key>uni0019</key>
    <string>uni0019.glif</string>
    <key>uni001A</key>
    <string>uni001A_.glif</string>
    <key>uni001B</key>
    <string>uni001B_.glif</string>
    <key>uni001C</key>
    <string>uni001C_.glif</string>
    <key>uni001D</key>
    <string>uni001D_.glif</string>
    <key>uni001E</key>
    <string>uni001E_.glif</string>
    <key>uni001F</key>
    <string>uni001F_.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>uni007F</key>
    <string>uni007F_.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni040C</key>
    <string>uni040C_.glif</string>
    <key>uni040D</key>
    <string>uni040D_.glif</string>
    <key>uni040E</key>
    <string>uni040E_.glif</string>
    <key>uni0400</key>
    <string>uni0400.glif</string>
    <key>uni0401</key>
    <string>uni0401.glif</string>
    <key>uni0402</key>
    <string>uni0402.glif</string>
    <key>uni0403</key>
    <string>uni0403.glif</string>
    <key>uni0408</key>
    <string>uni0408.glif</string>
    <key>uni0409</key>
    <string>uni0409.glif</string>
    <key>uni040A</key>
    <string>uni040A_.glif</string>
    <key>uni040B</key>
    <string>uni040B_.glif</string>
    <key>uni040F</key>
    <string>uni040F_.glif</string>
    <key>uni042D</key>
    <string>uni042D_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni0464</key>
    <string>uni0464.glif</string>
    <key>uni0468</key>
    <string>uni0468.glif</string>
    <key>uni046A</key>
    <string>uni046A_.glif</string>
    <key>uni046C</key>
    <string>uni046C_.glif</string>
    <key>uni0480</key>
    <string>uni0480.glif</string>
    <key>uni033E</key>
    <string>uni033E_.glif</string>
    <key>uni034F</key>
    <string>uni034F_.glif</string>
    <key>uni0484</key>
    <string>uni0484.glif</string>
    <key>uni0485</key>
    <string>uni0485.glif</string>
    <key>uni0481</key>
    <string>uni0481.glif</string>
    <key>uni2000</key>
    <string>uni2000.glif</string>
    <key>uni2001</key>
    <string>uni2001.glif</string>
    <key>uni2002</key>
    <string>uni2002.glif</string>
    <key>uni2003</key>
    <string>uni2003.glif</string>
    <key>uni2004</key>
    <string>uni2004.glif</string>
    <key>uni2005</key>
    <string>uni2005.glif</string>
    <key>uni2006</key>
    <string>uni2006.glif</string>
    <key>uni2007</key>
    <string>uni2007.glif</string>
    <key>uni2008</key>
    <string>uni2008.glif</string>
    <key>uni2009</key>
    <string>uni2009.glif</string>
    <key>uni200A</key>
    <string>uni200A_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni200E</key>
    <string>uni200E_.glif</string>
    <key>uni200F</key>
    <string>uni200F_.glif</string>
    <key>uni2028</key>
    <string>uni2028.glif</string>
    <key>uni2029</key>
    <string>uni2029.glif</string>
    <key>uni20AC</key>
    <string>uni20A_C_.glif</string>
    <key>uni20DD</key>
    <string>uni20D_D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA64A</key>
    <string>uniA_64A_.glif</string>
    <key>uniA673</key>
    <string>uniA_673.glif</string>
    <key>uni04860311</key>
    <string>uni04860311.glif</string>
    <key>uni2DE20487</key>
    <string>uni2D_E_20487.glif</string>
    <key>uni2DED0487</key>
    <string>uni2D_E_D_0487.glif</string>
    <key>uniFE2E</key>
    <string>uniF_E_2E_.glif</string>
    <key>uniFE2F</key>
    <string>uniF_E_2F_.glif</string>
    <key>afii10082</key>
    <string>afii10082.glif</string>
    <key>afii10076</key>
    <string>afii10076.glif</string>
    <key>uni0420</key>
    <string>uni0420.glif</string>
    <key>uni041A</key>
    <string>uni041A_.glif</string>
  </dict>
</plist>
